# Зависимости
node_modules/

# Сборка / дистрибутив
dist/
build/

# Переменные окружения
.env
.env.local
.env.*.local

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db